.addJob_container {
  display: flex;
  justify-content: space-between;
}
.description_container {
  width: 50%;
  padding: 0 6rem;
  height: 99vh;
}
.addJob_bg_container {
  position: relative;
  text-align: center;
  width: 550px;
  height: 99vh;
}
.addJob_bg_container h2 {
  position: absolute;
  top: 1rem;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: 500;
  width: 100%;
}
.addJob_bg_container img {
  width: 550px;
  height: 99vh;
}
.description_container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}
label {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
}
.input_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
input[type="text"] {
  padding: 0.4rem 1rem;
  width: 60%;
  outline: none;
  border: 1.8px solid #c2c2c2;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  color: rgb(30, 30, 30);
  letter-spacing: 0.5px;
}
input::placeholder {
  font-size: 13px;
}
select {
  text-align: left;
  padding: 0.2rem;
  padding-left: 0.7rem;
  outline: none;
  border: 1.8px solid #c2c2c2;
  border-radius: 4px;
  color: #adadad;
  width: 6.5rem;
  font-family: "DM Sans", sans-serif;
}
.select_wrapper {
  width: 60%;
  padding: 0 2.2rem;
}
textarea {
  width: 60%;
  resize: none;
  overflow: auto;
  outline: none;
  border: 1.8px solid #c2c2c2;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  color: rgb(30, 30, 30);
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.5px;
}
textarea::placeholder{
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  color: #adadad;
}
