.addJob_container {
  display: flex;
  justify-content: space-between;
}
.description_container {
  width: 50%;
  padding: 0 6rem;
  height: 99vh;
}
.addJob_bg_container {
  position: relative;
  text-align: center;
  width: 550px;
  height: 99vh;
}
.addJob_bg_container h2 {
  position: absolute;
  top: 1rem;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: 500;
  width: 100%;
}
.addJob_bg_container img {
  width: 550px;
  height: 99vh;
}
.description_container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}
label {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
}
.input_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
