.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed5353;
  padding: 0.5rem 4rem;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 62px;
  position: relative;
  min-height: 16vh;
}
.navbar h3 {
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 1px;
  z-index: 10;
  cursor: pointer;
}
.navbar h3:hover {
  transform: scale(1.1);
}
.login_btns_wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 10;
}
.loginBtn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 0.4rem 1rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
.registerBtn {
  color: #ed5353;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: "DM Sans", sans-serif;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.leftRectangle {
  position: absolute;
  left: 0;
  max-width: 22%;
  bottom: 0;
}
.rightRectangle {
  position: absolute;
  top: 0;
  right: 60px;
  max-width: 20%;
  min-height: 18vh;
}
.topRectangle {
  position: absolute;
  top: 0;
  left: 38%;
  width: 23%;
}
.logout_option {
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.recruiter_name {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.user_logo {
  padding: 0.7rem 1rem;
  background-color: #fff;
  border-radius: 50%;
  color: #ed5353;
  font-weight: 600;
}
