.mainPage_container {
  padding: 2rem 9rem;
}
.cards_container {
  margin-top: 3rem;
}

.noJobs_content {
  text-align: center;
  margin-top: 7rem;
  font-size: 1.3rem;
  font-weight: 500;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
}
